@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300;1,400&display=swap');
:root{
  --white-text-color:#F9FAF8;
  --dark-blue-color:#1F2937;
  --light-blue-color:#3882F6;
  --gray-secondary-color:#E5E7EB;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo{
  font-size: 24px;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li{
 margin: 0 5px;
}
.navlink{
  font-size: 18px;
}
a{
  color: var(--white-text-color);
  text-decoration: none;
}
a:hover{
  text-decoration-line: underline;
}
header, .hero, footer{
  background-color: var(--dark-blue-color);
  color: var(--white-text-color);
}
.hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h1{
  font-size: 48px;
  font-weight: 800;
  color: var(--white-text-color);
}
.hero-text{
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1rem;
  margin: 1rem;
}
.hero-subtext{
  font-size: 18px;
  color: var(--gray-secondary-color);
}
button{
  color: var(--white-text-color);
  background-color: var(--light-blue-color);
  width: fit-content;
  border-radius: 4px;
  border-style: none;
  font-weight: bold;
  transition: .2s;
}
button:hover{
  opacity: 80%;
}
button:active{
  opacity: 90%;
}
.hero-btn{
  margin-top: 10px;
  padding: 8px 16px;
}
.hero-img{
  width: 400px;
  height: auto;
  display:flex;
  margin-top:2rem;
}
h2{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue-color);
  font-size: 32px;
  font-weight: 800;
}
.info-container{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.info-img{
  border: solid;
  border-color: var(--light-blue-color);
  border-width: 3px;
  border-radius: 4px;
}
figcaption{
  font-size: 18px;
  margin-top: 1rem;
  text-align: center;
  color: var(--dark-blue-color);
}
.info{
  display: flex;
  max-width: 300px;
  min-height: 300px;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
}
.testimonial-container{
  background-color: var(--gray-secondary-color);
  display: flex;
  padding: 150px;
}
blockquote{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}
cite{
  font-size: 20px;
  font-weight: bold;
  font-style: unset;
}
.call-to-action-section{
padding: 100px;
}
.call-to-action{
  display: flex;
  padding: 2rem 2rem;
  background-color: var(--light-blue-color);
  border-radius: 6px;
  justify-content: space-around;
  align-items: center;
  color: var(--white-text-color);
}
.call-text, .call-header{
  color: var(--white-text-color);
  text-align: center;
}
.call-btn{
  border: solid;
  border-color: var(--white-text-color);
  height: fit-content;
  padding: 8px 16px;
  display: flex;
}
header, footer{
  padding: 16px;
}
footer{
  display: flex;
  margin-top: auto;
  text-align: center;
  justify-content: center;
}
footer p, footer a{
  margin-left: 1rem;
  margin-right: 1rem;
}